*{
     direction:rtl;
 }

 h1{
    font-size: 25px;
    color: blue;
    text-align:center;
     margin-left:10%;
       margin-bottom:5%;
      box-shadow: 0 4px 4px 0 skyblue;
       transition: 0.3s;
       background-color:Silver;
}
 h2{
    font-size: 25px;
    color: blue;
      text-align:center;
       margin-right:15%;
}
 h3{
    font-size: 25px;
    color: blue;
      text-align:center;
      margin-right:17%;
}
h4{
    font-size: 25px;
    color: blue;
    text-align:center;
      margin-top:45%;
 margin-left:10%;
  box-shadow: 0 4px 5px 0 skyblue;
   transition: 0.3s;
   background-color:Silver;
 }
 
     h5{
    font-size: 20px;
    color: blue;
     text-align:center;
      margin-right:7%;
      margin-bottom:5;
     }
     
      h6{
    font-size: 20px;
    color: blue;
     text-align:center;
      margin-right:10%;
      margin-bottom:5;      
     }
      
p 
{
   
    font-size: 20px;
   text-align:center;
   
}

.card 
{
    background-color:white;
   width:30%;
   height:80%;
   float:right;
   margin-right:10%;
 
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img 
{
  display:block;
    margin-right:auto;
     margin-left:auto;
  border-radius: 5px 8px 0 0; 
  position:center;}
  .card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 skyblue ;
  transition: 1.5s;
  box-shadow:red;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 blue;
  color:red;
}

/* Add some padding inside the card container */
.container 
{
     
    background-color:white;
    margin-right:10%;
   width:70%;
   height:30%;
  padding: 3px 1px 3px 1px;
  text-align:right;}
  
/* ------------------------------------------------------------------------------------------------------------------------------------------ */
  
  
.card2 
{
    margin:2%;
    background-color:white;
   width:25%;
   height:70%;
   float:right;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img 
{
  display:block;
    margin-right:auto;
     margin-left:auto;
  border-radius: 5px 8px 0 0; 
  }
  
  .card2 {
  /* Add shadows to create the "card2" effect */
  box-shadow: 0 4px 8px 0 skyblue;
  transition: 1.5s;
  
}

/* On mouse-over, add a deeper shadow */
.card2:hover {
  box-shadow: 0 8px 16px 0 blue;
  color:red;
}

/* Add some padding inside the card container2 */
.container2 
{
     
    background-color:white;
   width:90%;
   height:30%;
  padding: 3px 1px 3px 1px;
  text-align:right;
}
  
