table{
width: 700px;
height: 150px;
border: 5px rgb(8, 3, 36) solid ;
margin-top: 100px;
margin-left: auto;
margin-right: auto;

}
td{
text-align: center;

}
th{

text-align: center;
background-color: rgba(59, 110, 95, 0.493);


}
a:hover
{
color: #000;
}
a:visited{

color:rgb(119, 4, 20);
}
table:hover{

color: rgb(119, 4, 20);


}
a{   text-decoration: none;}
