p{
width: 50%;
padding: 10px;
position: relative;
border: 5px rgb(8, 3, 36) solid ;
margin-top: 100px;
margin-left: auto;
margin-right: auto;
text-align: center;
}

p::after{

    content: "";
    height: 6px;
    width: 100%;
    background-color:rgb(65, 197, 158) ;
    position: absolute;
    
    left: 0;
    bottom: 0;

    

} a:hover
{
color: #000;
}
a:visited{

color: rgb(4, 106, 119);

}

a{   text-decoration: none;}